/* Default styles for all elements */
* {
  box-sizing: border-box;
}
body {
  background-color: #FEF794;
}

header {
  text-align: center;
}

header a {
  color: black;
}

header a:hover {
  color: #CE97F9;
}

button {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #91FBB0;
  text-decoration: none;
  color: black;
}

a {
  color: #Bffaf8;
  text-decoration: none;
}

a:hover {
  color: white;
}

/* Styles for the cupcake container */
.cupcake-container {
  color: #Bffaf8;
  background-color: #CE97F9;
  /* border: 1px solid #ddd; */
  border-radius: 10%;
  margin: 20px 500px;
  padding: 100px;
  text-align: center;
}

/* Styles for the cupcake name */
.cupcake-container h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styles for the cupcake flavor and frosting */
.cupcake-container h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Styles for the cupcake price */
.cupcake-container h4 b{
  color: #f00;
  font-size: 20px;
}
