<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Cupcake Store</title>
</head>
<body>
  <header>
    <a href="{{url_for('home')}}"><h1>Cupcake Order</h1></a>
    <a  href="{{url_for('order')}}">
      <button>Cart - {{items_num}}</button>
    </a><br>
    <h7>Total: ${{order_total}}</h7>
  </header>
    {%for cupcake in cupcakes%}
      <div class="cupcake-container">
        <a href="{{url_for('individual_cupcakes', name=cupcake['name'])}}"><h3>{{cupcake["name"]}}</h3></a>
        <h2>{{cupcake[0]}}</h2>
        <h4>Qty: {{cupcake[2]}}</h4>
        <h4><b>Price: ${{cupcake[1]}}</b></h4>
        <a href="{{url_for('delete_cupcake', name=cupcake['name'])}}">
          <button>Remove From Cart</button>
        </a>
      </div>
    {%endfor%}
  
</body>
</html>